* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  font-size: 1.6rem;
  background: linear-gradient(
    -45deg,
    rgb(216, 216, 216),
    rgb(226, 183, 183),
    rgb(216, 216, 216),
    rgb(226, 183, 183)
  );
  background-size: 2000%;
  animation: backgroundGradient 50s ease infinite;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}

.avatar-upload-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70% 15% 15%;
  justify-content: center;
}

.canvas-container {
  align-self: center;
  justify-self: center;
  position: relative;
  height: 51.2rem;
  width: 51.2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  border-radius: 0.5rem;
  user-select: none;
}

.avatar-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.opacity-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.temporary-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.status-container {
  width: 80rem;
  min-height: 5rem;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(255, 239, 239);
  border-bottom: 2px solid rgb(255, 239, 239);
  text-align: center;
  user-select: none;
}

.status {
  margin: 2rem 0;
  text-shadow: 3px 4px 7px rgb(137 115 119 / 80%);
}

.avatar-buttons-container {
  width: 75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
}

.convert-button {
  width: 20%;
  height: 20%;
}

.upload-button[type="file"] {
  position: absolute;
  opacity: 0;
  width: 20rem;
  height: 5rem;
  cursor: pointer;
}

.button {
  position: relative;
  width: 20rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
}

.button:after {
  content: "";
  background: rgb(226, 183, 183);
  display: block;
  position: absolute;
  padding-top: 250%;
  padding-left: 150%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 800px) {
  html {
    font-size: 40%;
  }

  .avatar-upload-container {
    grid-template-rows: 50% 10% 20% 20%;
  }

  .canvas-container {
    transform: scale(0.8);
  }

  .avatar-buttons-container {
    flex-direction: column;
  }
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes expandCanvas {
  0% {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
  100% {
    height: 51.2rem;
    width: 51.2rem;
    border-radius: 0%;
  }
}

@keyframes shrinkCanvas {
  0% {
    height: 51.2rem;
    width: 51.2rem;
    border-radius: 0%;
  }
  100% {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
}
