* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
  font-size: 1.6rem;
  background: linear-gradient(
    -45deg,
    rgb(216, 216, 216),
    rgb(226, 183, 183),
    rgb(216, 216, 216),
    rgb(226, 183, 183)
  );
  background-size: 2000%;
  animation: backgroundGradient 50s ease infinite;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 0;
}

.avatar-upload-container {
  height: 100%;
  width: 75%;
  display: grid;
  grid-template-rows: 70% 15% 15%;
}

.canvas-container {
  align-self: center;
  justify-self: center;
  position: relative;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.avatar-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.opacity-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.avatar-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container {
  min-width: 50%;
  min-height: 5rem;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(255, 239, 239);
  border-bottom: 2px solid rgb(255, 239, 239);
}

.status {
  margin: 2rem 0;
}

@keyframes backgroundGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes expandCanvas {
  0% {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
  100% {
    height: 40rem;
    width: 40rem;
    border-radius: 0%;
  }
}

@keyframes shrinkCanvas {
  0% {
    height: 40rem;
    width: 40rem;
    border-radius: 0%;
  }
  100% {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
}
